<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Definity - Full Screen Video Onepage</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="/styles/vendor/bootstrap.min.css">
        <!-- Fonts -->
        <link rel="stylesheet" href="/fonts/et-lineicons/css/style.css">
        <link rel="stylesheet" href="/fonts/linea-font/css/linea-font.css">
        <link rel="stylesheet" href="/fonts/fontawesome/css/font-awesome.min.css">
        <!-- Slider -->
        <link rel="stylesheet" href="/styles/vendor/slick.css">
        <!-- Lightbox -->
        <link rel="stylesheet" href="/styles/vendor/magnific-popup.css">
        <!-- Animate.css -->
        <link rel="stylesheet" href="/styles/vendor/animate.css">
        <!-- BG Video -->
        <link rel="stylesheet" href="/styles/vendor/jquery.mb.YTPlayer.min.css">


        <!-- Definity CSS -->
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/responsive.css">

        <!-- JS -->
        <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar">
   <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <!-- ========== Preloader ========== 

        <div class="preloader">
          <img src="/images/loader.svg" alt="Loading...">
        </div>


        -->
        <!-- ========== Navigation ========== -->

        <nav class="navbar navbar-default navbar-fixed-top mega navbar-trans navbar-fw">
          <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Logo -->
            <a class="navbar-brand" href="index.html"><img class="navbar-logo" src="/images/logo.png" alt="Definity - Logo"></a>
          </div>

          <!-- Navbar Links -->
          <div id="navbar" class="navbar-collapse collapse page-scroll navbar-right">
            <ul class="nav navbar-nav">
              <li><a style="font-size: 1.2em;" href="#services">고소미 작성<span class="sr-only"></span></a></li>
              <li><a style="font-size: 1.2em;" href="#about">해우소<span class="sr-only"></span></a></li>
              <li><a style="font-size: 1.2em;" href="#portfolio">Q&A<span class="sr-only"></span></a></li>
              <li><a style="font-size: 1.2em;" href="#testimonials">로그인<span class="sr-only"></span></a></li>
              <li><a style="font-size: 1.2em;" href="#blog">회원가입<span class="sr-only"></span></a></li>
            </ul><!-- / .nav .navbar-nav -->              
          </div><!--/.navbar-collapse -->
        </nav><!-- / .navbar -->
<%= yield %>
<!-- Copyright -->
          <div class="copyright">
            <div class="container">
              <div class="row">
                
                <div class="col-md-6">
                  <small>&copy; 2015 Definity. Made by <a class="no-style-link" href="http://themeforest.net/user/octarinethemes" target="_blank">OctarineThemes</a></small>
                </div>

                <div class="col-md-6">
                  <small><a href="#page-top" class="pull-right to-the-top">To the top<i class="fa fa-angle-up"></i></a></small>
                </div>

              </div><!-- / .row -->
            </div><!-- / .container -->
          </div><!-- / .copyright -->
        </footer><!-- / .footer-contact -->
        
         <!-- ========== Scripts ========== -->

        <script src="/js/vendor/jquery-2.1.4.min.js"></script>
        <script src="/js/vendor/google-fonts.js"></script>
        <script src="/js/vendor/jquery.easing.js"></script>
        <script src="/js/vendor/jquery.waypoints.min.js"></script>
        <script src="/js/vendor/bootstrap.min.js"></script>
        <script src="/js/vendor/bootstrap-hover-dropdown.min.js"></script>
        <script src="/js/vendor/smoothscroll.js"></script>
        <script src="/js/vendor/jquery.localScroll.min.js"></script>
        <script src="/js/vendor/jquery.scrollTo.min.js"></script>
        <script src="/js/vendor/jquery.stellar.min.js"></script>
        <script src="/js/vendor/jquery.parallax.js"></script>
        <script src="/js/vendor/slick.min.js"></script>
        <script src="/js/vendor/jquery.easypiechart.min.js"></script>
        <script src="/js/vendor/countup.min.js"></script>
        <script src="/js/vendor/isotope.min.js"></script>
        <script src="/js/vendor/jquery.magnific-popup.min.js"></script>
        <script src="/js/vendor/wow.min.js"></script>
        <script src="/js/vendor/jquery.mb.YTPlayer.min.js"></script>


        <!-- Google Maps -->
        <script src="/js/gmap.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOcd7o0W0r846FC_GoHSK56xeAvP8fV4s"></script>

        <!-- Definity JS -->
        <script src="/js/main.js"></script>
</body>
</html>